<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-2" data-toc-modified-id="Challenge-2-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 2</a></span><ul class="toc-item"><li><span><a href="#Problem-Solving-Iteration-1" data-toc-modified-id="Problem-Solving-Iteration-1-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Problem Solving Iteration 1</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#The-Total-field-is-computed-based-on-HP,-Attack,-Defense,-Sp.-Atk,-Sp.-Def,-and-Speed." data-toc-modified-id="The-Total-field-is-computed-based-on-HP,-Attack,-Defense,-Sp.-Atk,-Sp.-Def,-and-Speed.-1.1.0.1"><span class="toc-item-num">1.1.0.1&nbsp;&nbsp;</span>The <code>Total</code> field is computed based on <code>HP</code>, <code>Attack</code>, <code>Defense</code>, <code>Sp. Atk</code>, <code>Sp. Def</code>, and <code>Speed</code>.</a></span></li></ul></li></ul></li><li><span><a href="#Problem-Solving-Iteration-2" data-toc-modified-id="Problem-Solving-Iteration-2-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Problem Solving Iteration 2</a></span><ul class="toc-item"><li><span><a href="#Which-pokemon-type-is-most-likely-to-have-the-highest-Total-value?" data-toc-modified-id="Which-pokemon-type-is-most-likely-to-have-the-highest-Total-value?-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Which pokemon type is most likely to have the highest <code>Total</code> value?</a></span><ul class="toc-item"><li><span><a href="#Type-1-and-Type-2-string-variables-need-to-be-converted-to-numerical-variables-in-order-to-identify-the-relationship-between-Total-and-the-pokemon-type." data-toc-modified-id="Type-1-and-Type-2-string-variables-need-to-be-converted-to-numerical-variables-in-order-to-identify-the-relationship-between-Total-and-the-pokemon-type.-1.2.1.1"><span class="toc-item-num">1.2.1.1&nbsp;&nbsp;</span><code>Type 1</code> and <code>Type 2</code> string variables need to be converted to numerical variables in order to identify the relationship between <code>Total</code> and the pokemon type.</a></span></li><li><span><a href="#How-to-convert-two-string-variables-to-numerical?" data-toc-modified-id="How-to-convert-two-string-variables-to-numerical?-1.2.1.2"><span class="toc-item-num">1.2.1.2&nbsp;&nbsp;</span>How to convert two string variables to numerical?</a></span></li><li><span><a href="#In-the-next-cell,-use-One-Hot-Encoding-to-encode-Type-1-and-Type-2.-Use-the-pokemon-type-values-as-the-names-of-the-numerical-fields-you-create." data-toc-modified-id="In-the-next-cell,-use-One-Hot-Encoding-to-encode-Type-1-and-Type-2.-Use-the-pokemon-type-values-as-the-names-of-the-numerical-fields-you-create.-1.2.1.3"><span class="toc-item-num">1.2.1.3&nbsp;&nbsp;</span>In the next cell, use One Hot Encoding to encode <code>Type 1</code> and <code>Type 2</code>. Use the pokemon type values as the names of the numerical fields you create.</a></span></li></ul></li></ul></li><li><span><a href="#Problem-Solving-Iteration-3" data-toc-modified-id="Problem-Solving-Iteration-3-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Problem Solving Iteration 3</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#There-are-relationships-between-Total-and-the-encoded-pokemon-type-variables-and-we-need-to-identify-the-correlations." data-toc-modified-id="There-are-relationships-between-Total-and-the-encoded-pokemon-type-variables-and-we-need-to-identify-the-correlations.-1.3.0.1"><span class="toc-item-num">1.3.0.1&nbsp;&nbsp;</span>There are relationships between <code>Total</code> and the encoded pokemon type variables and we need to identify the correlations.</a></span></li><li><span><a href="#How-to-identify-the-relationship-between-Total-and-the-encoded-pokemon-type-fields?" data-toc-modified-id="How-to-identify-the-relationship-between-Total-and-the-encoded-pokemon-type-fields?-1.3.0.2"><span class="toc-item-num">1.3.0.2&nbsp;&nbsp;</span>How to identify the relationship between <code>Total</code> and the encoded pokemon type fields?</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Bonus-Question" data-toc-modified-id="Bonus-Question-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Bonus Question</a></span></li></ul></div>

# Défi 2

Dans ce défi, nous allons continuer à travailler avec le jeu de données `Pokemon`. Nous allons tenter de résoudre un problème un peu plus complexe, qui nous permettra de pratiquer le processus d’analyse de données itératif que vous avez appris dans [cette vidéo](https://www.youtube.com/watch?v=xOomNicqbkk).

L’énoncé du problème est le suivant :

**Vous êtes dans un marché noir de Pokémon et vous prévoyez d’acheter un Pokémon pour combattre. Tous les Pokémon sont vendus au même prix et vous ne pouvez vous permettre d’en acheter qu’un seul. Vous ne pouvez pas choisir le Pokémon spécifique que vous allez acheter. Cependant, vous pouvez spécifier le type du Pokémon — un type qui existe dans `Type 1` ou `Type 2`. Quel type devez-vous choisir pour maximiser vos chances d’obtenir un bon Pokémon ?**

Pour vous rappeler les 3 étapes du processus d’analyse de données itératif, les voici :

1. Définir les attentes
2. Collecter des informations
3. Réagir aux données / Réviser les attentes

En suivant ce processus itératif, nous allons vous guider pour réaliser ce défi.

## Itération 1 - Résolution du Problème

Dans cette première itération, nous allons analyser le problème et identifier le point clé.  
L’énoncé original est un peu vague car nous ne savons pas vraiment ce qu’est un *bon Pokémon* tel qu’il est représenté dans les données.  
Nous allons commencer par mieux comprendre le jeu de données et voir si nous pouvons en tirer quelques enseignements.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [3]:
# Importing the dataset 
df=pd.read_csv('Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

D’après les données, il semble qu’un bon Pokémon se définit par ses capacités, représentées par les champs `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed` et `Total`.  
Nous ne sommes pas sûrs pour `Generation` et `Legendary` car ils ne sont pas nécessairement des facteurs décisifs des capacités d’un Pokémon.

Mais `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed` et `Total`, ça fait beaucoup de champs !  
Si nous les regardons tous en même temps, cela devient très complexe. Ce n’est pas Mission Impossible mais c’est le genre de problème qu’il serait plus logique de traiter après avoir appris le Machine Learning.
Pour l’instant, existe-t-il un moyen de **consolider** les champs que nous devons étudier ?

Heureusement, il semble qu’il y ait un moyen. Il apparaît que le champ `Total` est calculé à partir des 6 autres champs. Mais nous devons prouver cette hypothèse.  
Si nous pouvons confirmer qu’il existe une formule pour calculer `Total` à partir des 6 capacités, alors nous n’aurons plus qu’à nous intéresser à `Total`.

Nous avons donc l’attente suivante :

#### Le champ `Total` est calculé à partir de `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def` et `Speed`.

Nous devons collecter les informations suivantes :

* **Quelle est la formule pour calculer `Total` ?**
* **Est-ce que cette formule fonctionne pour tous les Pokémon ?**

Dans la cellule ci-dessous, formulez une hypothèse sur la manière dont `Total` est calculé et testez votre hypothèse.

In [9]:
# your code here
df['Computed_Total'] = (
    df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
)

print(df['Computed_Total'])

#df['Computed_Total']==df['Total']

(df['Computed_Total']==df['Total']).all()

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Computed_Total, Length: 800, dtype: int64

True

Comment: Yeah, Total is just a sum of all those columns

## Itération 2 - Résolution du Problème

Maintenant que nous avons consolidé les champs liés aux capacités, nous pouvons reformuler l’énoncé du problème. Le nouvel énoncé est le suivant :

### Quel type de Pokémon a le plus de chances d’avoir la valeur `Total` la plus élevée ?

Dans cette version mise à jour, nous supposons qu’il existe une certaine relation entre le `Total` et le type de Pokémon.  
Mais nous avons deux champs *type* (`Type 1` et `Type 2`) qui contiennent des valeurs sous forme de chaînes de caractères.  
En analyse de données, les champs de type chaîne doivent être transformés en format numérique pour pouvoir être analysés.

De plus, gardez à l’esprit que `Type 1` a toujours une valeur, mais `Type 2` est parfois vide (`NaN`).  
Aussi, le type de Pokémon que nous choisissons peut se trouver soit dans `Type 1`, soit dans `Type 2`.

Notre nouvelle attente est donc :

#### Les variables de type chaîne `Type 1` et `Type 2` doivent être converties en variables numériques afin d’identifier la relation entre `Total` et le type de Pokémon.

L’information que nous devons collecter est la suivante :

#### Comment convertir deux variables chaînes en variables numériques ?

Traiterons d’abord cette question.  
Vous pouvez utiliser une méthode appelée **One Hot Encoding**, couramment utilisée en machine learning pour encoder des variables catégorielles sous forme de chaînes en variables numériques.  
L’idée est de rassembler toutes les valeurs possibles d’un champ catégoriel et de créer un champ numérique pour chaque valeur unique.  
Chacun de ces champs numériques utilise `1` et `0` pour indiquer si l’enregistrement possède la valeur catégorielle correspondante.  
Une explication détaillée du One Hot Encoding se trouve dans [cet article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f).

Par exemple, si un Pokémon a `Type 1` comme `Poison` et `Type 2` comme `Fire`, alors ses champs `Poison` et `Fire` valent `1` tandis que tous les autres valent `0`.  
Si un Pokémon a `Type 1` comme `Water` et `Type 2` comme `NaN`, alors son champ `Water` vaut `1` et tous les autres valent `0`.

#### Dans la cellule suivante, appliquez le One Hot Encoding pour encoder `Type 1` et `Type 2`. Utilisez les valeurs de type de Pokémon comme noms pour les champs numériques que vous créez.

Les nouvelles variables numériques créées devraient ressembler à ceci :

In [14]:
import pandas as pd

# Exemple : DataFrame déjà chargé
df = pd.read_csv('Pokemon.csv')

# One Hot Encoding sur Type 1
type1_dummies = pd.get_dummies(df['Type 1'])

# One Hot Encoding sur Type 2
type2_dummies = pd.get_dummies(df['Type 2'])

# Additionner les deux matrices pour combiner les types
pokemon_types_encoded = type1_dummies.add(type2_dummies, fill_value=0)

# Forcer à 1 max et convertir en int pour n'avoir que des 0 ou 1
pokemon_types_encoded = pokemon_types_encoded.clip(upper=1).astype(int)

# Joindre le résultat au DataFrame original
df_encoded = pd.concat([df, pokemon_types_encoded], axis=1)

# Vérifier le résultat
df_encoded.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,0,1,0,0,0,1,0,0,0,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,0,1,0,0,0,1,0,0,0,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,0,1,0,0,0,1,0,0,0,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,...,0,1,0,0,0,1,0,0,0,0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df_encoded.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Bug', 'Dark',
       'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire', 'Flying', 'Ghost',
       'Grass', 'Ground', 'Ice', 'Normal', 'Poison', 'Psychic', 'Rock',
       'Steel', 'Water'],
      dtype='object')

In [10]:
# your code here
# One Hot Encoding sur Type 1
type1_dummies = pd.get_dummies(df['Type 1'])

# One Hot Encoding sur Type 2
type2_dummies = pd.get_dummies(df['Type 2'])

# Additionner les deux matrices pour combiner les types
# (si le même type apparaît dans Type 1 et Type 2, ça reste correct)
pokemon_types_encoded = type1_dummies.add(type2_dummies, fill_value=0)

# Optionnel : s'assurer que les valeurs sont bien 0 ou 1
pokemon_types_encoded = pokemon_types_encoded.clip(upper=1)

# Joindre le résultat au DataFrame d'origine
df_encoded = pd.concat([df, pokemon_types_encoded], axis=1)

# Vérifier le résultat
df_encoded.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,False,True,False,False,False,True,False,False,False,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,False,True,False,False,False,True,False,False,False,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,False,True,False,False,False,True,False,False,False,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,...,False,True,False,False,False,True,False,False,False,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,False,False,False,False,False,False,False,False,False,False

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Exemple : Type 1
df = pd.DataFrame({
    'Type 1': ['Fire', 'Water', 'Grass', 'Fire']
})

# Instancier le LabelEncoder
le = LabelEncoder()

# Transformer la colonne
df['Type 1 Encoded'] = le.fit_transform(df['Type 1'])

print(df)
print("Mapping :", dict(zip(le.classes_, le.transform(le.classes_))))

  Type 1  Type 1 Encoded
0   Fire               0
1  Water               2
2  Grass               1
3   Fire               0
Mapping : {'Fire': 0, 'Grass': 1, 'Water': 2}

## Itération 3 - Résolution du Problème

Maintenant que nous avons encodé les types de Pokémon, nous allons identifier la relation entre `Total` et les champs encodés. Notre attente est la suivante :

#### Il existe des relations entre `Total` et les variables de type Pokémon encodées et nous devons identifier les corrélations.

L’information que nous devons collecter est :

#### Comment identifier la relation entre `Total` et les champs de type Pokémon encodés ?

Il existe plusieurs façons de répondre à cette question. La plus simple est d’utiliser la corrélation.  
Dans la cellule ci-dessous, calculez la corrélation de `Total` avec chacun des champs encodés. Classez les corrélations et identifiez le type de Pokémon **n°1** qui a le plus de chances d’avoir le `Total` le plus élevé.

In [23]:
# your code here
# Sélectionner les colonnes des types encodés
type_columns = pokemon_types_encoded.columns
print(type_columns)

# Calculer la corrélation de chaque type avec 'Total'
correlations = df_encoded[type_columns].corrwith(df_encoded['Total'])

# Trier par ordre décroissant
correlations_sorted = correlations.sort_values(ascending=False).head(3)

# Afficher toutes les corrélations triées
print(correlations_sorted)

# Afficher le type avec la plus forte corrélation
top_type = correlations_sorted.idxmax()
print(f"✅ Type de Pokémon le plus corrélé au Total : {top_type}")

Index(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire',
       'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison',
       'Psychic', 'Rock', 'Steel', 'Water'],
      dtype='object')
Dragon     0.229705
Psychic    0.124688
Steel      0.109703
dtype: float64
✅ Type de Pokémon le plus corrélé au Total : Dragon

# Question Bonus

Imaginons maintenant que vous puissiez choisir à la fois le `Type 1` **et** le `Type 2` du Pokémon.  
Afin d’obtenir le meilleur Pokémon possible, quels types allez-vous choisir ?

In [ ]:
# your code here