<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-1" data-toc-modified-id="Challenge-1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 1</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Import-all-required-libraries." data-toc-modified-id="Import-all-required-libraries.-1.0.0.1"><span class="toc-item-num">1.0.0.1&nbsp;&nbsp;</span>Import all required libraries.</a></span></li><li><span><a href="#Import-data-set." data-toc-modified-id="Import-data-set.-1.0.0.2"><span class="toc-item-num">1.0.0.2&nbsp;&nbsp;</span>Import data set.</a></span></li><li><span><a href="#Print-first-10-rows-of-pokemon." data-toc-modified-id="Print-first-10-rows-of-pokemon.-1.0.0.3"><span class="toc-item-num">1.0.0.3&nbsp;&nbsp;</span>Print first 10 rows of <code>pokemon</code>.</a></span></li><li><span><a href="#Obtain-the-distinct-values-across-Type-1-and-Type-2." data-toc-modified-id="Obtain-the-distinct-values-across-Type-1-and-Type-2.-1.0.0.4"><span class="toc-item-num">1.0.0.4&nbsp;&nbsp;</span>Obtain the distinct values across <code>Type 1</code> and <code>Type 2</code>.</a></span></li><li><span><a href="#Cleanup-Name-that-contain-&quot;Mega&quot;." data-toc-modified-id="Cleanup-Name-that-contain-&quot;Mega&quot;.-1.0.0.5"><span class="toc-item-num">1.0.0.5&nbsp;&nbsp;</span>Cleanup <code>Name</code> that contain "Mega".</a></span></li><li><span><a href="#Create-a-new-column-called-A/D-Ratio-whose-value-equals-to-Attack-devided-by-Defense." data-toc-modified-id="Create-a-new-column-called-A/D-Ratio-whose-value-equals-to-Attack-devided-by-Defense.-1.0.0.6"><span class="toc-item-num">1.0.0.6&nbsp;&nbsp;</span>Create a new column called <code>A/D Ratio</code> whose value equals to <code>Attack</code> devided by <code>Defense</code>.</a></span></li><li><span><a href="#Identify-the-pokemon-with-the-highest-A/D-Ratio." data-toc-modified-id="Identify-the-pokemon-with-the-highest-A/D-Ratio.-1.0.0.7"><span class="toc-item-num">1.0.0.7&nbsp;&nbsp;</span>Identify the pokemon with the highest <code>A/D Ratio</code>.</a></span></li><li><span><a href="#Identify-the-pokemon-with-the-lowest-A/D-Ratio." data-toc-modified-id="Identify-the-pokemon-with-the-lowest-A/D-Ratio.-1.0.0.8"><span class="toc-item-num">1.0.0.8&nbsp;&nbsp;</span>Identify the pokemon with the lowest A/D Ratio.</a></span></li><li><span><a href="#Create-a-new-column-called-Combo-Type-whose-value-combines-Type-1-and-Type-2." data-toc-modified-id="Create-a-new-column-called-Combo-Type-whose-value-combines-Type-1-and-Type-2.-1.0.0.9"><span class="toc-item-num">1.0.0.9&nbsp;&nbsp;</span>Create a new column called <code>Combo Type</code> whose value combines <code>Type 1</code> and <code>Type 2</code>.</a></span></li><li><span><a href="#Identify-the-pokemon-whose-A/D-Ratio-are-among-the-top-5." data-toc-modified-id="Identify-the-pokemon-whose-A/D-Ratio-are-among-the-top-5.-1.0.0.10"><span class="toc-item-num">1.0.0.10&nbsp;&nbsp;</span>Identify the pokemon whose <code>A/D Ratio</code> are among the top 5.</a></span></li><li><span><a href="#For-the-5-pokemon-printed-above,-aggregate-Combo-Type-and-use-a-list-to-store-the-unique-values." data-toc-modified-id="For-the-5-pokemon-printed-above,-aggregate-Combo-Type-and-use-a-list-to-store-the-unique-values.-1.0.0.11"><span class="toc-item-num">1.0.0.11&nbsp;&nbsp;</span>For the 5 pokemon printed above, aggregate <code>Combo Type</code> and use a list to store the unique values.</a></span></li><li><span><a href="#For-each-of-the-Combo-Type-values-obtained-from-the-previous-question,-calculate-the-mean-scores-of-all-numeric-fields-across-all-pokemon." data-toc-modified-id="For-each-of-the-Combo-Type-values-obtained-from-the-previous-question,-calculate-the-mean-scores-of-all-numeric-fields-across-all-pokemon.-1.0.0.12"><span class="toc-item-num">1.0.0.12&nbsp;&nbsp;</span>For each of the <code>Combo Type</code> values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [6]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Import data set `Pokemon` . Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set from Ironhack's database
df=pd.read_csv('Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here
df.head(n=10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

Lorsque vous consultez un jeu de données, vous vous demandez souvent ce que signifie chaque colonne. Certains jeux de données open source fournissent des descriptions détaillées du jeu de données. Dans de nombreux cas, ces descriptions sont extrêmement utiles pour que les analystes de données puissent travailler de manière efficace et pertinente.

Pour le jeu de données `Pokemon.csv`, heureusement, le propriétaire a fourni des descriptions que vous pouvez consulter [ici](https://www.kaggle.com/abcsds/pokemon/home). Pour vous faciliter la tâche, nous incluons les descriptions ci-dessous. Lisez-les attentivement et comprenez la signification de chaque colonne. Ces informations vous seront précieuses pour travailler avec ces données.

| Colonne | Description |
| --- | --- |
| # | Identifiant pour chaque Pokémon |
| Name | Nom de chaque Pokémon |
| Type 1 | Chaque Pokémon a un type, ce qui détermine ses faiblesses/résistances aux attaques |
| Type 2 | Certains Pokémon ont un double type et donc deux types |
| Total | Indication générale de la puissance globale d’un Pokémon |
| HP | Points de vie, ou santé, indiquent combien de dégâts un Pokémon peut encaisser avant de s’évanouir |
| Attack | Modificateur de base pour les attaques normales (ex. Griffe, Coup de poing) |
| Defense | Résistance de base aux dégâts infligés par les attaques normales |
| SP Atk | Attaque spéciale, modificateur de base pour les attaques spéciales (ex. Déflagration, Hydrocanon) |
| SP Def | Résistance de base aux dégâts infligés par les attaques spéciales |
| Speed | Détermine quel Pokémon attaque le premier à chaque tour |
| Generation | Numéro de la génération |
| Legendary | Vrai si le Pokémon est Légendaire, Faux sinon |

#### Obtenez les valeurs distinctes pour `Type 1` et `Type 2`.

Extrayez toutes les valeurs présentes dans `Type 1` et `Type 2`. Ensuite, créez un tableau contenant toutes les valeurs distinctes présentes dans ces deux colonnes.

In [7]:
# your code here
types1 = df['Type 1'].dropna().unique()
types2 = df['Type 2'].dropna().unique()

# Combiner les deux, puis rendre unique
distinct_types = np.unique(np.concatenate((types1, types2)))

print(distinct_types)

['Bug' 'Dark' 'Dragon' 'Electric' 'Fairy' 'Fighting' 'Fire' 'Flying'
 'Ghost' 'Grass' 'Ground' 'Ice' 'Normal' 'Poison' 'Psychic' 'Rock' 'Steel'
 'Water']

#### Nettoyer les `Name` contenant "Mega".

Si vous avez examiné attentivement les noms des Pokémon, vous avez dû remarquer qu’il existe des textes parasites dans les noms qui contiennent "Mega". Nous voulons nettoyer ces noms de Pokémon.  
Par exemple, "VenusaurMega Venusaur" devrait devenir "Mega Venusaur", et "CharizardMega Charizard X" devrait devenir "Mega Charizard X".

In [8]:
# your code here
# Fonction de nettoyage
def clean_mega_name(name):
    if "Mega" in name:
        # Trouver la partie "Mega" et tout ce qui suit
        idx = name.find("Mega")
        return name[idx:]
    else:
        return name

# Appliquer à la colonne 'Name'
df['Name'] = df['Name'].apply(clean_mega_name)

# Vérifier le résultat
print(df[df['Name'].str.contains('Mega')].head())

     #              Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
3    3     Mega Venusaur  Grass  Poison    625  80     100      123      122
7    6  Mega Charizard X   Fire  Dragon    634  78     130      111      130
8    6  Mega Charizard Y   Fire  Flying    634  78     104       78      159
12   9    Mega Blastoise  Water     NaN    630  79     103      120      135
19  15     Mega Beedrill    Bug  Poison    495  65     150       40       15

    Sp. Def  Speed  Generation  Legendary
3       120     80           1      False
7        85    100           1      False
8       115    100           1      False
12      115     78           1      False
19       80    145           1      False

#### Créez une nouvelle colonne appelée `A/D Ratio` dont la valeur est égale à `Attack` divisé par `Defense`.

Par exemple, si un Pokémon a un score d’Attack de 49 et un score de Defense de 49, le `A/D Ratio` correspondant est 49/49 = 1.

In [9]:
# your code here
import pandas as pd


# Créer la colonne A/D Ratio
df['A/D Ratio'] = df['Attack'] / df['Defense']

# Afficher quelques exemples
print(df[['Name', 'Attack', 'Defense', 'A/D Ratio']].head())

            Name  Attack  Defense  A/D Ratio
0      Bulbasaur      49       49   1.000000
1        Ivysaur      62       63   0.984127
2       Venusaur      82       83   0.987952
3  Mega Venusaur     100      123   0.813008
4     Charmander      52       43   1.209302

#### Identifier le Pokémon ayant le `A/D Ratio` le plus élevé.

In [10]:
# your code here
import pandas as pd



# Trouver l'indice du Pokémon avec le ratio maximum
idx_max = df['A/D Ratio'].idxmax()

# Afficher le Pokémon correspondant
print(df.loc[idx_max, ['Name', 'Attack', 'Defense', 'A/D Ratio']])

Name         DeoxysAttack Forme
Attack                      180
Defense                      20
A/D Ratio                   9.0
Name: 429, dtype: object

#### Identifiez le pokemon avec le plus faible A/D Ratio.

In [11]:
# your code here
import pandas as pd



# Trouver l'indice du Pokémon avec le ratio maximum
idx_min = df['A/D Ratio'].idxmin()

# Afficher le Pokémon correspondant
print(df.loc[idx_min, ['Name', 'Attack', 'Defense', 'A/D Ratio']])

Name          Shuckle
Attack             10
Defense           230
A/D Ratio    0.043478
Name: 230, dtype: object

#### Créez une nouvelle colonne appelée `Combo Type` dont la valeur combine `Type 1` et `Type 2`.

**Règles :**

* Si `Type 1` et `Type 2` ont tous les deux une valeur valide, la valeur de `Combo Type` doit contenir les deux sous la forme `<Type 1>-<Type 2>`.  
  Par exemple, si `Type 1` est `Grass` et `Type 2` est `Poison`, alors `Combo Type` sera `Grass-Poison`.

* Si `Type 1` a une valeur valide mais pas `Type 2`, alors `Combo Type` sera simplement égal à `Type 1`.  
  Par exemple, si `Type 1` est `Fire` et `Type 2` est `NaN`, alors `Combo Type` sera `Fire`.

In [12]:
# your code here
import pandas as pd

# Créer Combo Type
df['Combo Type'] = df.apply(
    lambda row: f"{row['Type 1']}-{row['Type 2']}" if pd.notnull(row['Type 2']) else row['Type 1'],
    axis=1
)

# Vérifier le résultat
print(df[['Name', 'Type 1', 'Type 2', 'Combo Type']].head())

            Name Type 1  Type 2    Combo Type
0      Bulbasaur  Grass  Poison  Grass-Poison
1        Ivysaur  Grass  Poison  Grass-Poison
2       Venusaur  Grass  Poison  Grass-Poison
3  Mega Venusaur  Grass  Poison  Grass-Poison
4     Charmander   Fire     NaN          Fire

#### Identifier les Pokémon dont le `A/D Ratio` fait partie des 5 plus élevés.

In [13]:
# your code here
import pandas as pd


# Trier par A/D Ratio décroissant
top5 = df.sort_values(by='A/D Ratio', ascending=False).head(5)

# Afficher les 5 premiers
print(top5[['Name', 'Attack', 'Defense', 'A/D Ratio']])

                   Name  Attack  Defense  A/D Ratio
429  DeoxysAttack Forme     180       20      9.000
347            Carvanha      90       20      4.500
19        Mega Beedrill     150       40      3.750
453            Cranidos     125       40      3.125
348            Sharpedo     120       40      3.000

#### Pour les 5 Pokémon affichés ci-dessus, agrégerez les `Combo Type` et utilisez une liste pour stocker les valeurs uniques.

Votre résultat final est une liste contenant les valeurs distinctes de `Combo Type` des 5 Pokémon ayant le `A/D Ratio` le plus élevé.

In [17]:
# your code here

top5 = df.sort_values(by='A/D Ratio', ascending=False).head(5)
# Extraire Combo Type unique
distinct_combo_types = top5['Combo Type'].unique().tolist()

print(distinct_combo_types)

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

#### Pour chacune des valeurs de `Combo Type` obtenues à la question précédente, calculez la moyenne de tous les champs numériques pour l’ensemble des Pokémon.

In [18]:
# your code here
# Filtrer pour chaque Combo Type et calculer les moyennes
mean_stats = df[df['Combo Type'].isin(distinct_combo_types)].groupby('Combo Type').mean(numeric_only=True)

print(mean_stats)

                     #       Total         HP      Attack     Defense  \
Combo Type
Bug-Poison  199.166667  347.916667  53.750000   68.333333   58.083333
Psychic     381.973684  464.552632  72.552632   64.947368   67.236842
Rock        410.111111  409.444444  67.111111  103.333333  107.222222
Water-Dark  347.666667  493.833333  69.166667  120.000000   65.166667

              Sp. Atk    Sp. Def      Speed  Generation  Legendary  A/D Ratio
Combo Type
Bug-Poison  42.500000  59.333333  65.916667    2.333333   0.000000   1.315989
Psychic     98.552632  82.394737  78.868421    3.342105   0.236842   1.164196
Rock        40.555556  58.333333  32.888889    3.888889   0.111111   1.260091
Water-Dark  88.833333  63.500000  87.166667    3.166667   0.000000   2.291949